Repository State-Channel-4/Channel4-pocv2, pull requests merged in 2023-06, with the labels that each got.

#50 feat:populate db with fake data, update:readme file with build instru…
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/scripts/populateDB.js
Labels: documentation, enhancement, backend

#49 🚀 Discover Page
  apps/poc-next/app/discover/SiteFrame.tsx
  apps/poc-next/app/discover/layout.tsx
  apps/poc-next/app/discover/page.tsx
  apps/poc-next/app/discover/utils.ts
  apps/poc-next/app/layout.tsx
  apps/poc-next/app/page.tsx
  apps/poc-next/components/bottom-nav.tsx
  apps/poc-next/components/ui/button.tsx
  apps/poc-next/components/ui/tag-list.tsx
  apps/poc-next/package.json
  apps/poc-next/pnpm-lock.yaml
  apps/poc-next/styles/globals.css
  apps/poc-next/types/index.ts
Labels: enhancement, frontend

#64 feature : pagination
  backend/controllers/contractController.js
  backend/pnpm-lock.yaml
  backend/routes/contracts.js
Labels: backend

#69 Pagination : hasNextPage Update
  backend/controllers/contractController.js
  backend/routes/contracts.js
Labels: enhancement, backend

#71 bug fixes in submit_url and create_tag functions
  backend/controllers/contractController.js
  backend/routes/contracts.js
Labels: bug, backend
